.main-header{
    font-weight: bold;
}

.input_label {
    font-size:large;
}

.input {
    font-size: x-large;
    max-width: 100%;
    text-align: center;
}

.output_section > p {
    font-size:x-large;
    margin-top:25px;
}

.dateInput {
    font-size:large;
    text-align: center;
}

.textEntry,
.textOutput {
    width:75%;
    max-width:100%;
    font-size: large;
    height:100%;
}

.topic_col {
    text-align: left;
    border: 2px solid black;
    border-radius:5px;
    padding:0px 20px;
    margin-top:20px;
    margin-bottom:20px;
}

.dark-mode .topic_col {
    border-color: red;
}

.topic_col h5 {
    text-align: center;
}

.topic_col label {
    font-weight: normal;
}

/* spacer for non-full final row in desktop view*/
@media (min-width: 550px) {
    .spacer::after {
        content:"\00a0";
    }
}

/* no height equalization in mobile view */
@media (max-width: 549px) {
    .topic_col {
        height:auto!important;
    }
}